* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

hr {
    width: 75%;
    margin: 0 auto;
    color: aquamarine;
    opacity: 0.4;
}